@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }

html,
body {
  padding: 0;
  margin: 0;
  background: #fafafa;
}

/* iOS 홈화면 실행 시 상단 여백 자연스럽게 */
body {
  padding-top: env(safe-area-inset-top);
}